<h1>Добавить запись</h1>
<form id='create_notes'>
	<input placeholder='Текст' type='text' maxlength='20' name='text' />
	<input type='submit' placeholder='Отправить' />
</form>
<p id='error_text'></p>

<script type='text/javascript' src='js/create-note.js'></script>